<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://watchportal1234.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b55cfb2d-2d7c-4db7-92d4-b98523213590/resourceGroups/learn-9442fee7-b600-4aa2-a685-6b88598f9795/providers/Microsoft.Web/sites/WatchPortal1234</ResourceId>
    <UserName>$WatchPortal1234</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://watchportal1234.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>